body {
  width: 200px;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus
{
  text-decoration: none;
}

#welcome{
  padding: 5px;
  work-break: break-all;
}

#operation{
  margin: 0 15px;
}

#operation .btn{
  margin-top: 10px;
}

#bottom a{
  float: right;
}
